extends ~_layout/main

block head
  - var title = 'webpack'
  - var bodyClass = ''
  - var wrapClass = ''
block content
  include ~_module/header/header
  .conainer
    h2 404

block foot
  include ~_module/footer/footer