extends ~_layout/main

block head
  - var title = 'epam'
  - var bodyClass = ''
  - var wrapClass = ''
block content
  include ~_module/header/header
  include ~_module/users/users
block foot
  include ~_module/footer/footer
  include ~_module/modal/modal