footer.footer
  .wrap.footer-inner
    p.copyright © Все права защищены
    .footer__menu
      a.footer__link(href='') Главная
      a.footer__link(href='') Новости
      a.footer__link(href='') Платные услуги
      a.footer__link(href='') Адреса