.modal.modal-user#modal-user
  .modal-wrap
    .modal__close
    .modal-user__left
      .modal-user__img
        img(src='assets/img/content/noavatar.png', alt='user', width='100')
      h4.modal-user__fullname
      p.modal-user__gender
    .modal-user__right
      .modal-user__info
        h3.modal-user__title Information
        .modal-user__content
          .modal-user__data
            h4 Email
            p.modal-user__value.email
          .modal-user__data
            h4 Phone
            p.modal-user__value.tel
      .modal-user__info
        h3.modal-user__title Adress
        .modal-user__content
          .modal-user__data
            h4 Country
            p.modal-user__value.country
          .modal-user__data
            h4 City
            p.modal-user__value.city